/* ----- header & nav ------ */
header, main, footer {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header{
  height: 100px;
  width: 90%;
  position: fixed;
  background-color: white;
  opacity: .95;
  padding-top: 50px;
  margin-top: -30px;
}
.logo img {
    width: 100px;
    max-width: 100px;
    height: 100px;
    overflow: auto;
    float: left;
    opacity: 1;
    margin-left: 100px;
}

a {
    text-decoration: none;
    float: right;
    padding: 10px;
    font-size: 130%;
    font-family: calibri;
    font-weight: 800;
    color: black;
    margin: 0px 15px 5px 15px;
    box-sizing: border-box;
    border: 5px solid white;
}

a:hover {
    border: 5px solid #f6a43a;
    color: #f6a43a;
}
#event{
  border: 5px solid #f6a43a;
  color: #f6a43a;
}
/*----- main ----- */

main{
	height: 900px;
  padding-top: 200px;
}
.kader{
  position: relative;
  width: 50px;
  height: 50px;
  border: 10px solid #f6a43a;
  opacity: 0.4;
  left: 37%;
  top: 50px;
  z-index: -1;
}
h2{
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 2em;
}
h3{
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 30px;
}
.text{
  width: 50%;
  margin: auto;
  float: right;
  margin-right: 10%;
}
.text p{
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  margin-top: 25px;
  line-height: 1.5em;
}
#inleiding{
  font-weight: 400;
}
.image{
  width: 30%;
  float: left;
}
#bestel{
  border: none;
  color: black;
  font-size: 1em;
  font-weight: 300;
  font-family: 'montserrat', sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  float:none;
}
#bestel:hover{
  color:#f6a43a;
}
#verkrijgbaar{
  font-weight: 200;
  font-size: 0.7em;
}
iframe{
  position: absolute;
  right: 12%;
  top: 820px;
}
#adres{
  margin-left: 70px;
  margin-top: -23px;
}
/*---- footer ----*/
.kleurfooter{
  background-color: rgba(246, 164, 58, .5);
  height: 200px;
}
footer{
  width: 100%;
}
.textfooter{
  width: 60%;
  margin: auto;
  font-family: 'montserrat';
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}
footer p{
  padding-top: 60px;
  font-size: .8em;
  line-height: 2em;
}

/* Media Queries */

@media(max-width:1440px){
.image{
  width: 35%;
}
iframe{
  top: 910px;
  right: 10%;
}
main{
  height: 1100px;
}
}
@media(max-width:1180px){
  .logo img{
    width: 100px;
    height: 100px;
  }
  a{
    font-size: 110%;
  }
  iframe{
    top: 1030px;
    right: 5%;
    width: 30%;
  }
  main{
    height: 1200px;
  }

}
@media(max-width:1048px) {
  a{
    font-size: 100%;
  }
  .text{
    width: 60%;
    margin-right: 2%;
  }
  .text p{
    font-size: .9em;
  }
  iframe{
    top: 850px;
  }
  main{
    height: 1000px;
  }
}
@media(max-width: 1005px){
  a{ font-size: 85%;
    margin: 0px 5px 5px 5px;
}
  .logo img{
    width: 80px;
    height: 80px;
    margin-left: 60px;
  }
  .kader{
    left: 5%;
  }
  .text{
    width: 90%;
  }
  .image{
    width: 45%;
    float: none;
    position: absolute;
    left: 50%;
    top: 685px;
  }
  iframe{
    right: 62%;
    top: 900px;
  }
  header{
    width: 100%;
  }
}
@media(max-width:910px){
 main{
   width: 100%;
 }
}
@media(max-width:750px){
    .logo img{
      display: none;
      }
    a{
      margin-right: 20px;
      }
    main{
      padding-top: 75px;
      }
      .image{
        top: 620px;
      }
      iframe{
        top: 850px;
        height: 200px;
      }
    }

@media(max-width:600px){
  a{
    font-size: 80%;
    margin-right: 10px;
    padding: 5px;
  }
  header{
    padding-bottom:0px;
  }
  .text{
    margin-right: 5%;
  }
  .image{
    top: 720px;
  }
  iframe{
    top: 870px;
  }
  .textfooter{
    font-size: 1em;
  }
  .kleurfooter{
    height: 150px;}

  p:last-child{
    padding-top: 10px;
  }
}

@media(max-width:500px){
  a{
    font-size: 80%;
    margin-right: 3px;
    padding: 3px;
}
  header{
    padding-bottom:0px;
  }
  .image{
    display: none;
  }
  iframe{
    right: 10%;
    top: 800px;
    width: 35%;
  }
  .textfooter{
    font-size: 1em;
  }
  .kleurfooter{
    height: 150px;}

  p:last-child{
    padding-top: 10px;}
  .kader{
    left: .8%;
  }
}
