/* ------ header & nav ----- */
header, main, footer {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header{
  height: 100px;
  width: 90%;
  position: fixed;
  background-color: white;
  opacity: .95;
  padding-top: 50px;
  margin-top: -30px;
}
.logo img {
    width: 100px;
    max-width: 100px;
    height: 100px;
    overflow: auto;
    float: left;
    opacity: 1;
    margin-left: 100px;
}

a {
    text-decoration: none;
    float: right;
    padding: 10px;
    font-size: 130%;
    font-family: calibri;
    font-weight: 800;
    color: black;
    margin: 0px 15px 5px 15px;
    box-sizing: border-box;
    border: 5px solid white;
}

a:hover {
    border: 5px solid #f6a43a;
    color: #f6a43a;
}
#shop{
  border: 5px solid #f6a43a;
  color: #f6a43a;
}

/*----- main ----- */

main{
	height: 1200px;
  padding-top: 200px;
}
aside{
  float: left;
  margin-right: 5%;
  border: 1px solid silver;
  height: 300px;
  padding: 10px;
  width: 200px;
  margin-top: 10px;
}
.select{
  float: right;
  width: 150px;
}

input{
  margin-bottom: 10px;
  margin-left: 20px;
}
label{
  font-family: 'montserrat';
  font-size: 1em;
  font-weight: 200;
  margin-left: 5px;
}
h3{
  font-family: 'montserrat';
  font-size: 1.1em;
  font-weight: 400;

}
#product{
  margin-top:30px;
}
.select p{
  font-family: 'montserrat';
  font-size: 0.8em;
  font-weight: 200;
}
select{
float: right;
margin-top: -15px;
margin-right: 10px;
}

.overzicht{
  width: 70%;
  float: left;
}
.product{
  float: left;
  margin-right: 100px;
  margin-bottom: 50px;
  width: 22%;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 5px;
}
.product p{
  font-family: 'montserrat';
  font-size: 1em;
  font-weight: 400;
  color: silver;
  margin-top: 20px;
}
.product button{
  font-family: 'montserrat';
  font-size: .8em;
  font-weight: 200;
  background-color: gainsboro;
  float: right;
  border: none;
  margin-top: -20px;
  border-radius: 4px;
  cursor: pointer;
}
.product button:hover{
  background-color:#f6a43a;
  color: white;
  border: none;
  box-sizing: border-box;
}
/*---- footer ----*/
.kleurfooter{
  background-color: rgba(246, 164, 58, .5);
  height: 200px;
}
footer{
  width: 100%;
}
.textfooter{
  width: 60%;
  margin: auto;
  position: relative;
  top: -50px;
  font-family: 'montserrat';
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}
footer p{
  padding-top: 0px;
  font-size: .8em;
  line-height: 2em;
}
.socials{
  position: relative;
  width: 10%;
  left: 43%;
  bottom: 0px;
}
#youtube{
left: 47%;
bottom: 77px;
}
footer a{
  border: none;
  width: 100px;
}
footer a:hover{
  border: none;
}
footer a img{
  width: 60%;
  margin-right: 5%;
}

/* Media Queries */
@media(min-width: 1920px){
  main{
    height: 1400px;
  }
}
@media(max-width:1575px){
  .overzicht{
    width: 75%;
  }
}
@media(max-width:1470px){
main{
  height: 1300px;
}
.overzicht{
  width: 80%;
  float: right;
}
.product{
  margin-right: 60px;
  width: 25%;
}
aside{
  margin-right: 1%;
  margin-left: -5%;
}
.select{
  margin-top: -50px;
}
}
@media(max-width: 1205px){
  .socials{
    left: 44%;
  }
  #youtube{
    left: 49%;
  }
}
@media(max-width:1180px){
  .logo img{
    width: 100px;
    height: 100px;
  }
  a{
    font-size: 110%;
  }
  main{
    height: 2300px;
  }
  aside{
    width: 150px;
  }
  label{
    font-size: .8em;
  }
  h3{
    font-size: .9em;
  }
  .product{
    width: 40%;
  }

}
@media(max-width:1048px) {
  a{
    font-size: 100%;
  }
  main{
    height: 2200px;
  }
}
@media(max-width: 1005px){
  a{ font-size: 85%;
    margin: 0px 5px 5px 5px;
}
  .logo img{
    width: 80px;
    height: 80px;
    margin-left: 60px;
  }
  header{
    width: 100%;
  }
  main{
    height: 2000px;
  }
  .socials{
    left: 44%;
  }
  #youtube{
    left: 52%;
  }
}
@media(max-width:940px){
 main{
   width: 100%;
   height: 1900px;
 }
 aside{
   margin-left: 3%;
   margin-right: 0px;
 }
 .overzicht{
   width: 70%;
   margin-left: 0%;
 }
 .product{
   width: 35%;
   margin-right: 5%;
 }
}
@media(max-width:750px){
    .logo img{
      display: none;
      }
    a{
      margin-right: 20px;
      }
      main{
        height:2300px;
      }
      aside{
        display: none;
      }
      .overzicht{
        width: 90%;
        margin: auto;
      }
      .product{
        width: 42%;
      }
    }

@media(max-width:700px){
  a{
    font-size: 80%;
    margin-right: 10px;
    padding: 5px;
  }
  header{
    padding-bottom:0px;
  }
  aside{
    display: none;
  }
  .overzicht{
    width: 90%;
    margin: auto;
  }
  .product{
    width: 42%;
  }
  .textfooter{
    font-size: 1em;
  }
  .kleurfooter{
    height: 200px;}

  p:last-child{
    padding-top: 10px;
  }
  main{
    height: 2100px;
  }
  .socials{
    width: 7%;
    left: 47%;
  }
  #youtube{
    bottom: 72px;
    left: 57%;
  }
}

@media(max-width:500px){
  a{
    font-size: 80%;
    margin-right: 3px;
    padding: 3px;
}
  header{
    padding-bottom:0px;
  }
  .textfooter{
    font-size: 1em;
  }
  .kleurfooter{
    height: 200px;}

  footer p:last-child{
    padding-top: 10px;}
}
@media(max-width:490px){
  .product{
    width: 70%;
    margin-left: 10%;
  }
  main{
    height: 4800px;
  }
  a{
    margin-right: 1px;
    border-width: 4px;
  }
  a:hover, #shop{
    border-width: 4px;
  }
  .socials{
    left: 50%;
  }
  #youtube{
    left: 70%;
    bottom: 69px;
  }
}
@media(max-width:400px){
  main{height: 4200px;}
}
